<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>Home improvement plans for our house</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
  </head>

  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Raymos Family Home Plans</h1>
          <p class="lead text-muted">
            This page will showcase all of our home improvement plans!
            Eventually we will also have before and afters shown here.
          </p>
          <p>
            <a
              href="mailto:stephanieraymos@gmail.com"
              class="btn btn-primary my-2"
              >Email me</a
            >
          </p>
          <img src="{% static 'raymos.jpg' %}" height="300" />
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for plan in plans.all %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ plan.image.url }}" />
                <div class="card-body">
                  <p class="card-text">{{ plan.summary }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>

    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'popper-2.9.2.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </body>
</html>
